<body ng-controller = "adminCtrl" ng-app = "astroApp">
<h1>Admin Panel</h1>
<div ng-controller = "processCtrl">
        <table st-table="displayedObservations" st-safe-src="observations" class="tableList">
            <tr>
                <td style="width:10%;vertical-align: top;border-bottom: 0px;"><input type="button" value="Process" class="btn btn-primary" ng-click="startSpin()"/></td>
            </tr>
            <tr>
                <td style="width:10%;vertical-align: top;border-bottom: 0px;">Last processing</td>
            </tr>
            <tr>
                <th>ObservationId</th>
                <th>Star Name</th>
                <th>Start Date</th>
                <th style="width:20%">End Date</th>
            </tr>
            <tr ng-repeat="observation in displayedObservations">
                <td>{{observation.observationId}}</td>
                <td>{{observation.starName}}</td>
                <td>{{observation.startDate}}</td>
                <td>{{observation.endDate}}</td>
            </tr>
        </table>
    <span us-spinner spinner-key="spinner-1"></span>
</div>
</body>