<body ng-controller = "adminCtrl" ng-app = "astroApp">
<div ng-controller = "processCtrl" style="max-width: 1100px;height: 650px;margin: 100px auto;border-style: solid;border-width: 1px;border-color: #e1e1e1;background-color:white;width:100%;">
        <table st-table="displayedObservations" st-safe-src="observations" class="tableList">
            <tr>
                <td style="width:10%;vertical-align: top;border-bottom: 0px;"><input style="background-color: #4d9dc2;border: 0px" type="button" value="Process" class="btn btn-primary sharp" ng-click="startSpin()"/></td>
            </tr>
            <tr>
                <td style="width:10%;vertical-align: top;border-bottom: 0px;">Last processing</td>
            </tr>
            <tr>
                <th>ObservationId</th>
                <th>Object Name</th>
                <th>Start Date</th>
                <th style="width:20%">End Date</th>
            </tr>
            <tr ng-repeat="observation in displayedObservations">
                <td>{{observation.observationId}}</td>
                <td>{{observation.starName}}</td>
                <td>{{observation.startDate}}</td>
                <td>{{observation.endDate}}</td>
            </tr>
        </table>
    <span style="position:fixed;top:50%;left: 50%;z-index:10000" us-spinner="{left: '50%',top:'125%',length: 7,width: 4,radius:15}" spinner-key="spinner-1"></span>
    <div style="color:white;box-shadow:0 6px 12px rgba(0,0,0,.175);position:fixed;top:0;z-index:2000;box-shadow:0 6px 12px rgba(0,0,0,.175);
                            background-color:#50D050;left: 50%;transform: translate(-50%, 0);min-width:650px;height:55px;font-size: 1.5rem;" class="alert alert-success" ng-show="showSuccessAlert">
        <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">×</button> <strong></strong> {{successTextAlert}}
    </div>
</div>
</body>