<body ng-app="astroApp" ng-controller="reminderCtrl">
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 style="font-family: inherit;font-weight: normal;
                           font-size: 2.1rem;text-rendering: optimizeLegibility;color: #4c4c4c;" class="modal-title">Reminder</h3>
</div>
<table class="main">
    <tr>
        <td style="width:60%;vertical-align: top;font-family: inherit;font-weight: normal;
                           font-size: 1.3rem;text-rendering: optimizeLegibility;color: #4c4c4c;padding-left:140px">
            <form name="reminderForm" class="form-horizontal" role="form" style="width:100%;margin-left:30px" novalidate ng-submit="reminderForm.$valid && addUser()">
                <div class="modal-body" style="margin-top:-70px;padding-bottom: 7px;">
                    <div class="form-group">
                        <div class="col-md-7">
                            <input type="email" class="form-control" placeholder="Email" name="email" ng-model="email" required/>
                            <div ng-messages="registerForm.email.$error" style="color:maroon" role="alert" ng-if='submitted'>
                                <div ng-message="required">This field is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="color:maroon" role="alert" ng-if='errorFlag'>User does not exist</div>
                    </div>
                </div>
                <div class="modal-footer" style="padding-right:100px;border-top: 0px;">
                    <input style="background-color: #4d9dc2;border: 0px" type="submit" value="Send" class="btn btn-primary sharp" ng-click="submitted=true" ng-keyup="submitted=false"/>
                    <button type="button" ng-click="cancel()" class="btn btn-default sharp" data-dismiss="modal">Close</button>
                </div>
            </form>
        </td>
    </tr>
    <span us-spinner="{left: '50%',top:'125%',length: 7,width: 4,radius:15}" spinner-key="spinner-1"></span>
</table>
</body>