<body ng-controller = "photometryCtrl" ng-app = "astroApp">
<div ng-controller = "processPhotometryCtrl" style="max-width: 1100px;height: 650px;margin: 100px auto;border-style: solid;border-width: 1px;border-color: #e1e1e1;background-color:white;width:100%;">
    <p style="margin-top:-90px;margin-bottom:30px;text-align: center;color:#4c4c4c;text-decoration: none;font-family: inherit;font-weight: normal;
              font-size: 3.5rem;text-rendering: optimizeLegibility;font-style: bold;">PERFORM PHOTOMETRY</p>

    <div style="margin-top: 50px;color:white;" ng-show="!isUserLoggedIn">
        <table class="menu" style="background-color:white;">
            <tr>
                <td>
                    <div style="margin-left:50px;margin-right:50px;height: 200px;width:1000px;margin-top:230px;background-color:white;">
                        <div style="padding: 0px 15px;color:white;">
                            <p style="color:white;text-decoration: none;padding: 10px 12px;font-family: inherit;font-weight: normal;
                                          font-size: 2.1rem;text-rendering: optimizeLegibility;color: #4c4c4c;font-style: bold;">
                                In order to measure photometry you must firstly  <a href ng-click="loginModal()"
                                                                                    style="text-decoration: none !important;">Login</a> to the service.
                                If you are a new user of the service please <a href ng-click="registerModal()"
                                                                               style="text-decoration: none !important;">Sign up</a></p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <table style="max-width: 1070px; margin: 10px" st-table="displayedObservations" st-safe-src="observations" class="tableList"  ng-show="isUserLoggedIn">
        <tr>
            <td style="vertical-align: top;padding:0px;height:540px;border-style: solid;border-width: 2px;
                                   border-color: #e1e1e1;margin-bottom: 0px;min-width:500px;max-width:500px">
                <div ng-show="!photometryTypeFlag" style="margin-left:50px;margin-right:50px;height: 200px;width:1000px;margin-top:230px;background-color:white;">
                    <div style="padding: 0px 15px;color:white;">
                        <p style="color:white;text-decoration: none;padding: 10px 12px;font-family: inherit;font-weight: normal;
                                          font-size: 2.1rem;text-rendering: optimizeLegibility;color: #4c4c4c;font-style: bold;">
                            You are about to measure photometry. Please remember that system allows only one-dimension FITS files. It means
                            that all FITS files need to be taken in single (monochromatic) wavelength band. Start with selecting type of photometry
                            to be performed. Good luck!</p>
                    </div>
                </div>
                <div style="max-width:530px;padding:0px;" id="sync1" class="owl-carousel" bind-html-compile="sync1Content">
                </div>
            </td>
            <td style="vertical-align: top;padding:0px;height:480px;border-style: solid;border-width: 2px;
                                   border-color: #e1e1e1;margin-bottom: 0px;min-width:500px;max-width:500px;">

                <div class="btn-group dropdown" style="margin-left:25px;position:relative;margin-bottom:-20px">
                    <div><br></div>
                    <button style="background-color: #4d9dc2;border: 0px" type="button" class="btn btn-primary customHeight customExtremelyLong">{{selectType}}</button>
                    <button style="background-color: #4d9dc2;border: 0px" type="button" class="btn btn-primary dropdown-toggle customHeight" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" style="width:262px">
                        <li ng-repeat="type in photometryTypes"><a href style="text-align:left;width:300px;" ng-click="selectPhotometryType(type)">{{type}}</a></li>
                    </ul>
                </div>
                <div><br><br></div>
                <form ng-show="photometryTypeFlag" name="convertForm" class="form-horizontal" role="form" style="width:100%;position:relative" novalidate ng-submit="convert()">
                    <div class="btn-group dropdown" style="width:100%;position:relative;margin-left:65px">
                        <input class="btn btn-default customUploadLong" type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)"/>
                    </div>
                    <div><br></div>
                    <div class="btn-group" style="float:left;margin-left:65px;position:relative">
                        <input style="background-color: #4d9dc2;border: 0px" type="submit" value="Load" class="btn btn-primary sharp btnMarginRight customLong" ng-click="submitted=true" ng-keyup="submitted=false"/>
                        <label class="btn btn-default pull-left btnMarginLeft btnMarginRight custom" ng-model="objectValue" uib-btn-radio="'Linear'">Linear</label>
                        <label class="btn btn-default pull-left btnMarginRight custom"  ng-model="objectValue" uib-btn-radio="'Power'">Power</label>
                        <label class="btn btn-default pull-left btnMarginRight custom"  ng-model="objectValue" uib-btn-radio="'Hist'">Hist</label>
                    </div>
                    <div><br></div>
                </form>
                <div><br><br></div>
                <div ng-show="convertFlag" class="btn-group dropdown" style="float:left;margin-left:65px;position:relative;">
                            <div align="left" style="border-top: 0px;padding-left: 0px;">
                                <input style="background-color: #4d9dc2;border: 0px" type="button" value="Measure" class="btn btn-primary sharp customHeight customLong" ng-click="measure()"/>
                            </div>
                </div>
                <div ng-show="photometryTypeFlag" style="padding: 0px 15px;color:white;margin-top:195px;position:relative;height:100px">
                    <p style="vertical-align: middle !importnant;color:white;text-decoration: none;padding: 10px 12px;font-family: inherit;font-weight: normal;
                                             font-size: 2.1rem;text-rendering: optimizeLegibility;color: #4c4c4c;font-style: bold;">
                        {{helpDescription}}</p>
                </div>
                <div ng-show="processFlag" class="btn-group dropdown" style="float:right;margin-left:60px;position:relative;margin-top:70px;margin-right:20px">
                    <input style="border: 0px" type="button" value="Save All" class="btn btn-success sharp customHeight" ng-click="saveFiles()"/>
                </div>
                <div><br></div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="vertical-align: top;padding:0px;height:86px !important;border-style: solid;border-width: 2px;
                                   border-color: #e1e1e1;min-width:500px;max-width:500px;">
                <div style="position:relative;bottom:0px;margin-left:0px;margin-top:-3px;margin-right:0px;margin-bottom:3px"  ng-show="isUserLoggedIn">
                    <div id="sync2" style="width:100% !important" class="owl-carousel" bind-html-compile="sync2Content">
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<!--Measure Modal-->
<script type="text/ng-template" id="measureContent.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 style="font-family: inherit;font-weight: normal;
                           font-size: 2.1rem;text-rendering: optimizeLegibility;color: #4c4c4c;" class="modal-title">Measure Photometry</h3>
    </div>
    <table class="main" style="margin-bottom:30px;">
        <tr>
            <td style="width:60%;vertical-align: top;font-family: inherit;font-weight: normal;
                           font-size: 1.3rem;text-rendering: optimizeLegibility;color: #4c4c4c;border: 0px solid black;">
                <form name="measurePhotometryForm" class="form-horizontal" role="form" style="width:100%;margin-left:30px" novalidate ng-submit="measurePhotometryForm.$valid && processFiles()">
                    <div class="modal-body" style="margin-top:-70px;padding-bottom: 7px;">
                        <div class="form-group">
                            <label style="text-align: right;margin-left: -20px;white-space: nowrap;color:green" class="col-md-7 control-label">Apparent Magnitude of Reference Object 1</label>
                            <div class="col-md-3" style="padding-left: 10px;">
                                <p class="input-group myInputLong">
                                    <input type="text" class="form-control" name="ref1" ng-model="ref1" ng-maxlength="100" required/>
                                </p>
                                <div ng-messages="measurePhotometryForm.ref1.$error" style="color:maroon;width: 130px;" role="alert" ng-if='submitted'>
                                    <div ng-message="required">This field is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="text-align: right;margin-left: -20px;white-space: nowrap;color:red" class="col-md-7 control-label">Apparent Magnitude of Reference Object 2</label>
                            <div class="col-md-3" style="padding-left: 10px;">
                                <p class="input-group myInputLong">
                                    <input type="text" class="form-control" name="ref2" ng-model="ref2" ng-maxlength="100" required/>
                                </p>
                                <div ng-messages="measurePhotometryForm.ref2.$error" style="color:maroon;width: 130px;" role="alert" ng-if='submitted'>
                                    <div ng-message="required">This field is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="text-align: right;margin-left: -20px;white-space: nowrap;color:blue" align="right" class="col-md-7 control-label">Distance to Object in Parsecs</label>
                            <div class="col-md-3" style="padding-left: 10px;">
                                <p class="input-group myInputLong">
                                    <input type="text" class="form-control" name="object" ng-model="object" ng-maxlength="100" required/>
                                </p>
                                <div ng-messages="measurePhotometryForm.object.$error" style="color:maroon;width: 130px;" role="alert" ng-if='submitted'>
                                    <div ng-message="required">This field is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="text-align: right;margin-left: -20px;white-space: nowrap;" class="col-md-7 control-label">Initial Julian Date</label>
                            <div class="col-md-3" style="padding-left: 10px;">
                                <p class="input-group myInputLong">
                                    <input type="text" class="form-control" name="julianDate" ng-model="julianDate" ng-maxlength="100" required/>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="text-align: right;margin-left: -20px;white-space: nowrap;" class="col-md-7 control-label">Julian Date Shift</label>
                            <div class="col-md-3" style="padding-left: 10px;">
                                <p class="input-group myInputLong">
                                    <input type="text" class="form-control" name="shift" ng-model="shift" ng-maxlength="100" required/>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="padding-right:100px;border-top: 0px;">
                        <input style="background-color: #4d9dc2;border: 0px" type="submit" value="Measure" class="btn btn-primary sharp" ng-click="submitted=true" ng-keyup="submitted=false"/>
                        <button type="button" ng-click="cancel()" class="btn btn-default sharp" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </td>
        </tr>
    </table>
</script>

<script>
    $('.fade_hov').hover(function(){
                    $(this).siblings().addClass('fade');
            }, function(){
                    $(this).siblings().removeClass('fade');
            });
</script>


</body>