<body ng-controller = "reductionCtrl" ng-app = "astroApp">
<div ng-controller = "dataReductionCtrl" style="max-width: 1100px;height: 650px;margin: 100px auto;border-style: solid;border-width: 1px;border-color: #e1e1e1;background-color:white;width:100%;">
    <table style="max-width: 1075px; margin: 10px auto" st-table="displayedObservations" st-safe-src="observations" class="tableList">
        <tr>
            <td colspan="3" style="vertical-align: top;padding-left:0px;height:480px;border-style: solid;border-width: 1px;border-color: #e1e1e1;width:50%;margin-bottom: 7px;">
                <div style="max-width:500px" id="sync1" class="owl-carousel">
                    <div class="item"><h1>1</h1></div>
                    <div class="item"><h1>2</h1></div>
                    <div class="item"><h1>3</h1></div>
                    <div class="item"><h1>4</h1></div>
                    <div class="item"><h1>5</h1></div>
                    <div class="item"><h1>6</h1></div>
                    <div class="item"><h1>7</h1></div>
                    <div class="item"><h1>8</h1></div>
                    <div class="item"><h1>9</h1></div>
                    <div class="item"><h1>10</h1></div>
                    <div class="item"><h1>11</h1></div>
                    <div class="item"><h1>12</h1></div>
                    <div class="item"><h1>13</h1></div>
                    <div class="item"><h1>14</h1></div>
                    <div class="item"><h1>15</h1></div>
                    <div class="item"><h1>16</h1></div>
                    <div class="item"><h1>17</h1></div>
                    <div class="item"><h1>18</h1></div>
                </div>
            </td>
            <td colspan="3" style="vertical-align: top;padding-left:0px;height:430px;border-style: solid;border-width: 1px;border-color: #e1e1e1;width:50%;margin-bottom: 7px;">Image Placeholder</td>
        </tr>
        <tr>
            <td style="vertical-align: top;border-bottom: 0px;padding-left:0px;width:20%">
                <div class="btn-group dropdown">
                    <button style="background-color: #4d9dc2;border: 0px" type="button" class="btn btn-primary customHeight">Image Type</button>
                    <button style="background-color: #4d9dc2;border: 0px" type="button" class="btn btn-primary dropdown-toggle customHeight" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="type in imageTypes"><a href style="text-align:left" ng-click="selectImageType(type)">{{type}}</a></li>
                    </ul>
                </div>
            </td>
            <td style="vertical-align: top;border-bottom: 0px;padding-left:0px;width:15%;">
                <label style="background-color: rgb(77, 157, 194);border:0px;" class="btn btn-primary btn-file sharp customHeight"> Browse
                   <input style="display:none;" type="file" file-model = "myFile2" name="vFileName" multiple />
                </label>
            </td>
            <td colspan="2" style="border-bottom: 0px;padding-right:0px;margin-bottom: 7px;width:20%;text-decoration: none;padding: 10px 15px;font-family: inherit;font-weight: normal;
                                          font-size: 1.6rem;text-rendering: optimizeLegibility;color: #4c4c4c;font-style: bold;">{{selectType}}</td>
            <td style="vertical-align: top;border-bottom: 0px;padding-left:0px;width:15%"><input style="background-color: #4d9dc2;border: 0px" type="button" value="Process" class="btn btn-primary sharp customHeight" ng-click="addObservation()" ng-show="isUserLoggedIn"/></td>
            <td style="vertical-align: top;border-bottom: 0px;padding-left:0px;width:20%"><input style="border: 0px" type="button" value="Save All" class="btn btn-success sharp customHeight" ng-click="addObservation()" ng-show="isUserLoggedIn"/></td>
        </tr>
    </table>
    <div style="position:relative;bottom:0px;margin:10px">
        <div  id="sync2" class="owl-carousel">
            <div ng-repeat="image in images">
                <div class="owl-items"><div class="item"><h1>{{image}}</h1></div></div>
            </div>
        </div>
    </div>
</div>

<script>


    $(document).ready(function() {

      var sync1 = $("#sync1");
      var sync2 = $("#sync2");

      sync1.owlCarousel({
        singleItem : true,
        slideSpeed : 1000,
        navigation: true,
        pagination:false,
        afterAction : syncPosition,
        responsiveRefreshRate : 200,
      });

      sync2.owlCarousel({
        items : 15,
        itemsDesktop      : [1199,10],
        itemsDesktopSmall     : [979,10],
        itemsTablet       : [768,8],
        itemsMobile       : [479,4],
        pagination:false,
        responsiveRefreshRate : 100,
        afterInit : function(el){
          el.find(".owl-item").eq(0).addClass("synced");
        }
      });

      function syncPosition(el){
        var current = this.currentItem;
        $("#sync2")
          .find(".owl-item")
          .removeClass("synced")
          .eq(current)
          .addClass("synced")
        if($("#sync2").data("owlCarousel") !== undefined){
          center(current)
        }
      }

      $("#sync2").on("click", ".owl-item", function(e){
        e.preventDefault();
        var number = $(this).data("owlItem");
        sync1.trigger("owl.goTo",number);
      });

      function center(number){
        var sync2visible = sync2.data("owlCarousel").owl.visibleItems;
        var num = number;
        var found = false;
        for(var i in sync2visible){
          if(num === sync2visible[i]){
            var found = true;
          }
        }

        if(found===false){
          if(num>sync2visible[sync2visible.length-1]){
            sync2.trigger("owl.goTo", num - sync2visible.length+2)
          }else{
            if(num - 1 === -1){
              num = 0;
            }
            sync2.trigger("owl.goTo", num);
          }
        } else if(num === sync2visible[sync2visible.length-1]){
          sync2.trigger("owl.goTo", sync2visible[1])
        } else if(num === sync2visible[0]){
          sync2.trigger("owl.goTo", num-1)
        }

      }

    });
</script>
</body>
