<body ng-app="astroApp" ng-controller="registerCtrl">
<div style="max-width: 1100px;height: 650px;margin: 100px auto;border-style: solid;border-width: 1px;border-color: #e1e1e1;background-color:white;width:100%;">
<div class="col-sm-4 col-sm-offset-4" ng-controller="regCtrl">
    <div class="well">
        <h3>Sign up</h3>
        <form name="registerForm" role="form" novalidate ng-submit="registerForm.$valid && addUser()">
            <div class="form-group">
                <input type="name" class="form-control" placeholder="Name" name="name" ng-model="name" required/>
                <div ng-messages="registerForm.name.$error" style="color:maroon" role="alert" ng-if='submitted'>
                    <div ng-message="required">This field is required</div>
                </div>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" name="email" ng-model="email" required/>
                <div ng-messages="registerForm.email.$error" style="color:maroon" role="alert" ng-if='submitted'>
                    <div ng-message="required">This field is required</div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" name="password" ng-model="password" required/>
                <div ng-messages="registerForm.password.$error" style="color:maroon" role="alert" ng-if='submitted'>
                    <div ng-message="required">This field is required</div>
                </div>
            </div>
            <div class="form-group">
                <div style="color:maroon" role="alert" ng-if='errorFlag'>User exists</div>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary sharp" ng-click="submitted=true" ng-keyup="submitted=false"/>
        </form>
        <br/>
        <a href="#login" >Login</a>
    </div>
    <span us-spinner spinner-key="spinner-1"></span>
</div>
</div>
</body>