<body ng-controller = "searchCtrl" ng-app = "astroApp">
<div ng-controller = "searchDBCtrl" style="max-width: 1100px;height: 650px;margin: 100px auto;border-style: solid;border-width: 1px;border-color: #e1e1e1;background-color:white;width:100%;">
    <form style="margin-top: 50px;margin-bottom: 50px;" class="form-inline" name="searchForm" role="form" novalidate ng-submit="searchForm.$valid && startSpin()">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="e.g. HD172167" name="nam" ng-model="nam" required/>
            <div ng-messages="searchForm.nam.$error" style="color:maroon" role="alert" ng-if='submitted'>
                <div ng-message="required">This field is required</div>
            </div>
        </div>
        <div class="form-group">
            <input style="background-color: #4d9dc2;border: 0px;margin-bottom: 1px" type="submit" value="Search" class="btn btn-primary sharp customHeight" ng-click="submitted=true" ng-keyup="submitted=false"/>
            <div ng-messages="searchForm.nam.$error" style="color:maroon" role="alert" ng-if='submitted'>
                <div ng-message="required">&nbsp;</div>
            </div>
        </div>
    </form>
    <table style="width:90%" st-table="displayedObservations" st-safe-src="observations" ng-show="planetoids" class="tableList">
        <tr ng-repeat="observation in Data" ng-if="$index == 0">
            <td style="border-bottom: 0px;text-align:left"><b>Category: </b></td><td style="border-bottom: 0px;text-align:left">{{observation.type}}</td>
        </tr>
        <tr>
            <th style="width:10%">Catalog</th>
            <th style="width:35%">Object Name</th>
            <th>Number</th>
            <th title="Absolute magnitude">H</th>
            <th>Epoch</th>
            <th title="Mean anomaly at the epoch, [degrees]">M </th>
            <th title="Argument of perihelion, J2000.0 [degrees]">&omega;</th>
            <th title="Longitude of the ascending node, J2000.0 [degrees]">L</th>
            <th title="Inclination to the ecliptic, J2000.0 [degrees]">I</th>
            <th title="Orbital eccentricity">e</th>
            <th title="Mean daily motion, [degrees per day]">n</th>
            <th title="Semimajor axis, [AU]">a</th>
        </tr>
        <tr ng-repeat="observation in Data" >
            <td>MPC</td>
            <td>{{observation.name}}</td>
            <td>{{observation.number}}</td>
            <td>{{observation.h}}</td>
            <td>{{observation.epoch}}</td>
            <td>{{observation.m}}</td>
            <td>{{observation.perihelion}}</td>
            <td>{{observation.longitude}}</td>
            <td>{{observation.inclination}}</td>
            <td>{{observation.e}}</td>
            <td>{{observation.n}}</td>
            <td>{{observation.a}}</td>
        </tr>
    </table>
    <table style="width:90%" st-table="displayedObservations" st-safe-src="observations" ng-show="comets" class="tableList">
        <tr ng-repeat="observation in Data" ng-if="$index == 0">
            <td style="border-bottom: 0px;text-align:left"><b>Category: </b></td><td style="border-bottom: 0px;text-align:left">{{observation.type}}</td>
        </tr>
        <tr>
            <th style="width:10%">Catalog</th>
            <th style="width:25%">Object Name</th>
            <th style="width:14%" title="Orbit type">Orbit Type</th>
            <th title="Date of perihelion passage">Date</th>
            <th title="Perihelion distance [AU]">PD</th>
            <th title="Orbital eccentricity">e</th>
            <th title="Argument of perihelion, J2000.0 [degrees]">&omega;</th>
            <th title="Longitude of the ascending node, J2000.0 [degrees]">L</th>
            <th title="Inclination in degrees, J2000.0 [degrees]">I</th>
            <th title="Date of epoch for perturbed solutions">Epoch Date</th>
            <th title="Absolute magnitude">Mag</th>
        </tr>
        <tr ng-repeat="observation in Data" >
            <td>MPC</td>
            <td>{{observation.name}}</td>
            <td>{{observation.orbitType}}</td>
            <td>{{observation.pDate}}</td>
            <td>{{observation.pDistance}}</td>
            <td>{{observation.e}}</td>
            <td>{{observation.perihelion}}</td>
            <td>{{observation.longitude}}</td>
            <td>{{observation.inclination}}</td>
            <td style="padding-left:25px;padding-right:25px;">{{observation.eDate}}</td>
            <td>{{observation.absMag}}</td>
        </tr>
    </table>
    <table style="width:90%" st-table="displayedObservations" st-safe-src="observations" ng-show="stars" class="tableList">
        <tr ng-repeat="observation in Data" ng-if="$index == 1">
            <td style="border-bottom: 0px;text-align:left"><b>Category: </b></td><td style="border-bottom: 0px;text-align:left">{{observation.type}}</td>
        </tr>
        <tr ng-repeat="observation in Data" ng-if="$index == 1">
            <td style="border-bottom: 0px;text-align:left"><b>Coordinates J2000: </b></td>
            <td title="Right ascension" style="border-bottom: 0px;text-align:left">{{observation.ra}}</td>
            <td title="Declination" style="border-bottom: 0px;text-align:left">{{observation.de}}</td>
        </tr>
        <tr>
            <th style="width:25%">Catalog</th>
            <th style="width:20%">Object Name</th>
            <th title="Ultraviolet magnitude">U</th>
            <th title="Visual magnitude">V</th>
            <th title="Blue magnitude">B</th>
            <th>B-V</th>
            <th>U-B</th>
            <th>R-I</th>
            <th>V-I</th>
            <th>Spectral Type</th>
        </tr>
        <tr ng-repeat="observation in Data" >
            <td>{{observation.code}}</td>
            <td>{{observation.name}}</td>
            <td>{{observation.Umag}}</td>
            <td>{{observation.Vmag}}</td>
            <td>{{observation.Bmag}}</td>
            <td>{{observation.BV}}</td>
            <td>{{observation.UB}}</td>
            <td>{{observation.RI}}</td>
            <td>{{observation.VI}}</td>
            <td style="padding-left:50px;padding-right:50px;">{{observation.SpType}}</td>
        </tr>
    </table>
    <table class="search" style="background-color: white;" ng-show="(stars!=true && comets!=true && planetoids!=true)">
        <tr><td style="height: 80px;"></td>
            <td style="height: 80px;"><b>Following catalogs are currently available:</b></td>
            <td style="height: 80px;"></td></tr>
        <tr>
            <td style="margin-left: 0px;margin-right: 0px;">
                <div class="searchStart" style="margin-right: 5px;">
                    <div style="padding: 5px 5px;">
                        <ul style="list-style-type: none;margin: 0;overflow: hidden;background-color:white;color: white;width: 225px;">
                            <li style="text-decoration: none;padding-left:0px;padding: 0px 0px;font-family: inherit;font-weight: normal;
                                          font-size: 1.9rem;text-rendering: optimizeLegibility;color: #4c4c4c;font-style: bold;">Stars</li>
                        </ul>
                        <p>HD: Henry Draper Catalog with 272150 stars.
                            <br>HR: Bright Star Catalog with 9110 stars.
                            <br>SAO: SAO Star Catalog with 258997 stars.
                            <br>GC: The General Catalog with 33342 stars.
                            <br>TYC: The Tycho-2 catalog with 2539913 stars.
                            <br>HIP: The Hipparcos catalog with 117955 stars.
                        </p>
                    </div>
                </div>
            </td>
            <td style="margin-left: 0px;margin-right: 0px;">
                <div class="searchStart" style="margin-right: 5px;">
                    <div style="padding: 5px 5px;">
                        <ul style="list-style-type: none;margin: 0;overflow: hidden;background-color:white;color: white;width: 225px;">
                            <li style="text-decoration: none;padding-left:0px;padding: 0px 0px;font-family: inherit;font-weight: normal;
                                          font-size: 1.9rem;text-rendering: optimizeLegibility;color: #4c4c4c;font-style: bold;">Planetoids</li>
                        </ul>
                        <p>MPC: Catalog from Minor Planet Center with 716615 objects.</p><br>
                    </div>
                </div>
            </td>
            <td>
                <div class="searchStart" style="margin-right: 0px;">
                    <div style="padding: 5px 5px;">
                        <ul style="list-style-type: none;margin: 0;overflow: hidden;background-color:white;color: white;width: 225px;">
                            <li style="text-decoration: none;padding-left:0px;padding: 0px 0px;font-family: inherit;font-weight: normal;
                                          font-size: 1.9rem;text-rendering: optimizeLegibility;color: #4c4c4c;font-style: bold;">Comets</li>
                        </ul>
                        <p>Catalog from Minor Planet Center with 874 objects.</p><br>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <span us-spinner="{left: '50%',top:'125%',length: 7,width: 4,radius:15}" spinner-key="spinner-1"></span>
</div>
</body>