
<body ng-app = "testApp" ng-controller="tableListCtrl">

<div ng-controller="tableCtrl">
    <div ng-controller="ModalCtrl">

    <script type="text/ng-template" id="newModalContent.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">New observation</h3>
    </div>
        <table class="main">
            <tr>
                    <td style="width:60%;vertical-align: top">
                    <form name="newObservationForm" class="form-horizontal" role="form" style="width:100%;margin-left:30px" novalidate ng-submit="newObservationForm.$valid && addRow()">
                        <div class="modal-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Star Name</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="name" ng-model="name" ng-maxlength="10" required/>
                                <div ng-messages="restForm.name.$error" style="color:maroon" role="alert" ng-if='submitted'>
                                    <div ng-message="required">This field is required</div>
                                    <div ng-message="maxlength">This field is too long</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Start Date</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="startDate" ng-model="startDate" ng-maxlength="10" required/>
                                <div ng-messages="restForm.startDate.$error" style="color:maroon" role="alert" ng-if='submitted'>
                                    <div ng-message="required">This field is required</div>
                                    <div ng-message="maxlength">This field is too long</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">End Date</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="endDate" ng-model="endDate" ng-maxlength="10" required/>
                                <div ng-messages="restForm.endDate.$error" style="color:maroon" role="alert" ng-if='submitted'>
                                    <div ng-message="required">This field is required</div>
                                    <div ng-message="maxlength">This field is too long</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">U Photometry</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="uPhotometry" ng-model="uPhotometry" ng-maxlength="46"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">V Photometry</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="vPhotometry" ng-model="vPhotometry" ng-maxlength="20"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">B Photometry</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="bPhotometry" ng-model="bPhotometry" />
                            </div>
                        </div>
                        </div>
                        <div class="modal-footer" style="padding-right:100px;border-top: 0px;">
                            <input type="submit" value="Submit" class="btn btn-primary" ng-click="submitted=true" ng-keyup="submitted=false"/>
                            <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </td>
            </tr>
            </table>
    </div>
    </script>

    <script type="text/ng-template" id="removeObservationModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Remove record?</h3>
        </div>
        <table class="main">
            <tr>
                <td style="width:60%;vertical-align: top">
                    <form name="removeForm" class="form-horizontal" role="form" style="width:100%;margin-left:30px" novalidate ng-submit="removeForm.$valid && removeRow()">
                        <div class="modal-body">
                            <td>{{name}} Record will be soft deleted from database. Would you like to continue?</td>
                        </div>
                        <div class="modal-footer" style="padding-right:200px;border-top: 0px;">
                            <button type="button" ng-click="remove($index)" class="btn btn-primary" ng-model="checked" data-dismiss="modal" ng-if="$index == removePhotometry">Yes</button>
                            <button type="button" ng-click="cancel()" class="btn btn-primary" data-dismiss="modal">No</button>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </script>

    <script type="text/ng-template" id="editObservationModal.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Observation</h3>
        </div>
        <table class="main">
            <tr ng-repeat="observation in ob" ng-if="$index == editPhotometry">
                <td style="width:60%;vertical-align: top">
                    <form name="editForm" class="form-horizontal" role="form" style="width:100%;margin-left:30px" novalidate ng-submit="editForm.$valid && addRow()">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Star Name</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="name" ng-model="name"  ng-init="name='{{observation.name}}'" value="{{observation.name}}" required/>
                                    <div ng-messages="restForm.name.$error" style="color:maroon" role="alert" ng-if='submitted'>
                                        <div ng-message="required">This field is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Start Date</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="startDate" ng-model="startDate" ng-init="startDate='{{observation.startDate}}'" value="{{observation.startDate}}" required/>
                                    <div ng-messages="restForm.startDate.$error" style="color:maroon" role="alert" ng-if='submitted'>
                                        <div ng-message="required">This field is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">End Date</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="endDate" ng-model="endDate" ng-init="endDate='{{observation.endDate}}'" value="{{observation.endDate}}" required/>
                                    <div ng-messages="restForm.endDate.$error" style="color:maroon" role="alert" ng-if='submitted'>
                                        <div ng-message="required">This field is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">U Photometry</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="uPhotometry" ng-model="uPhotometry" ng-maxlength="46"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">V Photometry</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="vPhotometry" ng-model="vPhotometry" ng-maxlength="20"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">B Photometry</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="bPhotometry" ng-model="bPhotometry" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="padding-right:100px;border-top: 0px;border-bottom: 0px;">
                            <input type="submit" value="Save" class="btn btn-primary" ng-click="submitted=true" ng-keyup="submitted=false"/>
                            <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
        </div>
    </script>

    <script type="text/ng-template" id="editUPhotometryModal.html">
        <div class="modal-header">
            <h3 class="modal-title">U Photometry</h3>
        </div>
        <div class="modal-body" style="padding-right:15px;margin-top:-70px;padding-bottom:0px;margin-bottom: 0;">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <table class="main">
                <tr>
                    <th style="width:50%;padding-left:45px;">Flux</th>
                    <th style="width:90%;padding-right:40px;">Time</th>
                </tr>
                <tr ng-repeat="observation in ob" ng-if="$index == editUPhotometry">
                    <td style="white-space: pre;width:50%;text-align: left;padding-left:105px;">{{observation.uPhotometryFlux}}</td>
                    <td style="white-space: pre;width:90%;text-align: left;padding-left:92px;">{{observation.uPhotometryTime}}</td>
                </tr>
                <tr>
                    <td style="white-space: pre;width:50%;text-align: left;padding-left:105px;border-bottom: 0px;"></td>
                    <td style="white-space: pre;width:90%;text-align: right;border-bottom: 0px;height:50%"><button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Close</button></td>
                </tr>
            </table>
        </div>
        <div class="modal-footer" hidden="true" style="display:none;">
        </div>
    </script>

        <script type="text/ng-template" id="editVPhotometryModal.html">
            <div class="modal-header">
                <h3 class="modal-title">V Photometry</h3>
            </div>
            <div class="modal-body" style="padding-right:15px;margin-top:-70px;padding-bottom:0px;margin-bottom: 0;">
                <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <table class="main">
                <tr>
                    <th style="width:50%;padding-left:45px;">Flux</th>
                    <th style="width:90%;padding-right:40px;">Time</th>
                </tr>
                <tr ng-repeat="observation in ob" ng-if="$index == editVPhotometry">
                    <td style="white-space: pre;width:50%;text-align: left;padding-left:105px;">{{observation.vPhotometryFlux}}</td>
                    <td style="white-space: pre;width:90%;text-align: left;padding-left:92px;">{{observation.vPhotometryTime}}</td>
                </tr>
                <tr>
                    <td style="white-space: pre;width:50%;text-align: left;padding-left:105px;border-bottom: 0px;"></td>
                    <td style="white-space: pre;width:90%;text-align: right;border-bottom: 0px;height:50%"><button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Close</button></td>
                </tr>
            </table>
            </div>
            <div class="modal-footer" hidden="true" style="display:none;">
            </div>
        </script>

        <script type="text/ng-template" id="editBPhotometryModal.html">
            <div class="modal-header">
                <h3 class="modal-title">B Photometry</h3>
            </div>
            <div class="modal-body" style="padding-right:15px;margin-top:-70px;padding-bottom:0px;margin-bottom: 0;">
                <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <table class="main">
                    <tr>
                        <th style="width:50%;padding-left:45px;">Flux</th>
                        <th style="width:90%;padding-right:40px;">Time</th>
                    </tr>
                    <tr ng-repeat="observation in ob" ng-if="$index == editBPhotometry">
                        <td style="white-space: pre;width:50%;text-align: left;padding-left:105px;">{{observation.bPhotometryFlux}}</td>
                        <td style="white-space: pre;width:90%;text-align: left;padding-left:92px;">{{observation.bPhotometryTime}}</td>
                    </tr>
                    <tr>
                        <td style="white-space: pre;width:50%;text-align: left;padding-left:105px;border-bottom: 0px;"></td>
                        <td style="white-space: pre;width:90%;text-align: right;border-bottom: 0px;height:50%"><button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Close</button></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer" hidden="true" style="display:none;">
            </div>
        </script>

    <table st-table="displayedObservations" st-safe-src="observations" class="tableList">
        <tr>
            <td style="width:10%;vertical-align: top;border-bottom: 0px;"><input type="button" value="New Observation" class="btn btn-primary" ng-click="addObservation()"/></td>
            <td style="width:20%;border-bottom: 0px;"><input st-search="" class="form-control" placeholder="search ..." type="text"/></td>
        </tr>
        <tr>
            <th>Star Name</th>
            <th>Start Date</th>
            <th style="width:20%">End Date</th>
            <th>U Photometry</th>
            <th>V Photometry</th>
            <th>B Photometry</th>
        </tr>
        <tr ng-repeat="observation in displayedObservations">
            <td>{{observation.name}}</td>
            <td>{{observation.startDate}}</td>
            <td>{{observation.endDate}}</td>
            <td><input type="button" value="{{observation.uPhotometry}}" class="btn btn-default customTrueFalse" ng-click="editUPhotometry($index)"/></td>
            <td><input type="button" value="{{observation.vPhotometry}}" class="btn btn-default customTrueFalse" ng-click="editVPhotometry($index)"/></td>
            <td><input type="button" value="{{observation.bPhotometry}}" class="btn btn-default customTrueFalse" ng-click="editBPhotometry($index)"/></td>
            <td style="border-bottom: 0px;width:10%"><input align="right" type="button" value="Edit" class="btn btn-sm btn-info custom" ng-click="editObservation($index)" /></td>
            <td style="border-bottom: 0px;width:2%"><input align="right" type="button" value="Remove" class="btn btn-sm btn-danger custom" ng-click="removeObservation($index)" ng-model="isDisabled" ng-disabled="isDisabled"/></td>
        </tr>
        <tr>
            <tfoot>
            <td style="border-bottom: 0px" colspan="7" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="5"></div>
            </td>
            </tfoot>
        </tr>
    </table>
  </div>
</div>
</body>